<!DOCTYPE html>
<html lang="en" charset="utf-8">
<head> 
<link rel="stylesheet" href="/style.css">
{{ partial "header.html" . }}
<style>
body {
	font-family: verdana, sans-serif;
	background-color: #f7edf0;
	margin-left: auto;
	margin-right: auto;
}
.main{
	align: center;
	margin-left: auto;
	margin-right: auto;
	width: min(90%, 1000px);
}
.post{
	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
}
.thumbnail {
  flex: 1;
  margin-top: 10px;
  margin-right: 10px;
}
.content {
  flex: 9;
}
table, td {
	border: 3px solid #ddd;
	border-collapse: collapse;
}
</style>
</head>
<body>
<div class="main">
	{{ block "main" . }}
	{{ end }}
</div>
</body>
</html>
