<head>
        <title> ena.rocks </title>
        <link rel="icon" href="/Icon.PNG">
	<meta name="description" content="https://ena.rocks" >
	<meta property="og:image" content="/Icon.PNG">
	<meta property="og:image:secure_url" content="https://ena.rocks/">
	<meta property="og:image:alt" content="A bleeding heart (flower)">
</head>
<header>
        <a href="/">
        <img
                src="/Title.PNG"
                alt="ena.rocks with bleeding hearts (flower)"
                width="350"
                height="170"
                class="headercentre"
        >
        </a>
	<div class="main">
        	<hr>
        	<div class="headerbar">
                	<span> <a href="/posts/">posts</a> </span>
			<span> <a href="/tags/">tags</a> </span>
                	<span> <a href="/about/">about</a> </span>
			<span> <a href="/links/">links</a> <span>
		</div>
        	<hr>
	</div>
</header>

