body {
        font-family: verdana, sans-serif;
        background-color: #f7edf0;
        margin-left: auto;
        margin-right: auto;
}
a:link {
        color: #821C4A;
        text-decoration:none;
}
a:visited, a:link:active, a:visited:active {
        color: #00522E;
}


.main{
        align: center;
        margin-left: auto;
        margin-right: auto;
        width: min(80%, 1000px);
}
.post{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
}
.thumbnail {
        flex: 1;
        margin-top: 10px;
        margin-right: 10px;
}
.galleryThumbnail {
        max-width: 300px;
}
/*@media all and (max-width: 800px) {
  .thumbnail {
    flex: 2;
  }
}*/
.centre {
        display: block;
        margin: auto;
        text-align: center;
}
.content {
        flex: 9;
}
.grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 10px;
}
.grid div {
        background-color: #fcd4da;
        border: 1px solid #fcd4da;
        border-radius: 20px;
        padding: 10px;
}
.filters {
        background-color: #fcd4da;
        border: 10px solid #fcd4da;
        border-radius: 20px;
}

table, td {
        border: 3px solid #ddd;
        border-collapse: collapse;
}


body {
  background-image: url(/sides/left.png), url(/sides/right.png);
  background-repeat: repeat-y;
  background-position-x: left 0%, right 0%;
  background-size: 10%;
}

.headercentre {
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.headerbar {
        display: flex;
        justify-content: space-between;
        margin-left:20%;
        margin-right:20%;
}

hr {
        color: #009052;
}
